body {
    display: block;
    background-image:url("/assets/background1.jpg");
    background-size: cover;
}

/*Setting up grid*/
.Container {
    /* background: linear-gradient(to right, rgb(122, 137, 126), rgb(112, 92, 92)); */
   
    display: grid;
    grid-template-areas:
    "krypton staging staging staging"
    "instructions staging staging staging"
    "options staging staging staging"
    "library staging staging staging"
    "library staging staging staging"
    "library hiddenWord hiddenWord hiddenWord"
    ;
    height: 100vh;
    /* border: solid rgb(106, 106, 101);  */
}

/*Organizing elements within grid*/

/*Krypton and instructions are IDs stored within the title class*/
#krypton {
    grid-area: krypton;
    color: rgb(255, 255, 255);
    font-size: 100px;
    height: 150px;
    
}
#instructions {
    grid-area: instructions ;
    color: rgb(255, 255, 255);
    font-size: 25px;
    height: 300px;
    width: 550px;
    background-color: black;
    -webkit-text-stroke: .5px rgb(34, 159, 22);
    letter-spacing: 1px;
    padding: 15px;
    

    
}

.options {
    grid-area: options;
    gap: 15%;
    height: 200px;
    width: 200px
    
    
}

.staging-area {
    grid-area: staging;
    /* grid-column: 2;
    grid-row: 1; */
}
.hiddenWord {
    background-color: rgb(200, 170, 99); 

    grid-area: hiddenWord;
    /* grid-column: 2;
    grid-row: 2; */
    border: solid black;  
}

.Library { /*The container called Library holding all the buttons*/
    

    grid-area: library; /*Organizing container*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: solid rgb(106, 106, 101); 

    /* grid-column: 1;
    grid-row: 1 / span 2; */
    
}


/* All buttons*/
.letter {
    background-color: rgb(128, 170, 207);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
    padding: 10px;
     
      cursor: pointer;
      
       height: 60px; 
      font-size: 30px;
      margin: 2px;
      border: solid rgb(106, 106, 101);
    
      
    }
    
/* Each letter button found in the library*/
   #button-a {
    justify-content: center;
   } 
   #button-b {
    justify-content: center;
   } 
   #button-g {
    justify-content: center;
   } 
   #button-e {
    justify-content: center;
   }
   #button-r {
    justify-content: center;
   }
   #button-v {
    justify-content: center;
   }
   #button-f {
    justify-content: center;
   }
   #button-i {
    justify-content: center;
   }
   #button-h {
    justify-content: center;
   }
   #button-t {
    justify-content: center;
   }
   #button-k {
    justify-content: center;
   }
   #button-y {
    justify-content: center;
   }

/* Hidden word*/
.hiddenWord {
        display: grid;
        grid-template-areas: 
        "letter-g letter-r letter-a letter-v letter-i letter-t letter-y";
        width: auto;
        height: 55px;
        /* Positioning outside the container
        position:fixed;
        bottom: 25px;
        right: 50px;
        */
        gap: 5px;
        color: white;
        font-size: 35px;
        text-align: center;
        border: solid rgb(106, 106, 101);
        

    }
    
    #letter-g {
        grid-area: letter-g;
        background-color: rgb(60, 89, 62);
        border-style: outset;
        visibility:hidden ;
    }
    #letter-r {
        grid-area: letter-r;
        background-color: rgb(60, 89, 62);
        border-style: outset;
        visibility: hidden
    }
    #letter-a {
        grid-area: letter-a;
        background-color: rgb(60, 89, 62);
        border-style: outset;
        visibility: hidden
    }
    #letter-v {
        grid-area: letter-v;
        background-color: rgb(60, 89, 62);
        border-style: outset;
        visibility: hidden
    }
    #letter-i {
        grid-area: letter-i;
        background-color: rgb(60, 89, 62);
        border-style: outset;
        visibility: hidden
    }
    #letter-t {
        grid-area: letter-t;
        background-color: rgb(60, 89, 62);
        border-style: outset;
        visibility: hidden
    }
    #letter-y {
        grid-area: letter-y;
        background-color: rgb(60, 89, 62);
        border-style: outset;
        visibility: hidden
    }
   
/* Staging Area container that holds the rocket */

.staging-area {
    
    border: solid rgb(106, 106, 101);
    position: relative;
    
    
}
/*Pieces of the rocket*/
.rocket {
    position: relative;
    right: 50%;
    bottom: 20%;
}
 
  #flame {
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    
    border-top: 75px solid rgb(225, 17, 14);
    
    position: absolute;
    bottom: 21%;
    right: 51.6%;
    z-index: 1;
    visibility: hidden;
    
}
#fire {
    width: 0; 
    height: 0; 
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    
    border-top: 90px solid rgb(199, 110, 14);
 
    position: absolute;
    bottom: 20%;
    right: 50%;
    
    visibility: hidden;
}


#mainBody {
    position: absolute;
    width: 125px;
    height: 350px;
    bottom: 28%;
    right: 50.1%;
    background: linear-gradient(to right, rgb(48, 46, 41), rgb(112, 92, 92));
   
   z-index: 1;
   visibility: hidden;
}
#nose {
    width: 0; 
    height: 0; 
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    
    border-bottom: 90px solid rgb(22, 70, 89);
    
    position: absolute;
    bottom: 60.5%;
    right: 50.1%;
    visibility: hidden;
}
#engine {
    position: absolute;
    width: 125px;
    height: 70px;
    bottom: 28%;
    right: 50.1%;
    background: linear-gradient(to right, rgb(48, 46, 41), rgb(61, 54, 15));
   
   z-index: 1;
   visibility: hidden;
}

#left-fin {
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 20px solid transparent;
    
    border-bottom: 170px solid rgb(22, 70, 89);
    
    position: absolute;
    bottom: 28%;
    right: 56.5%;
    visibility: hidden;

}

#right-fin {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 48px solid transparent;
    
    border-bottom: 170px solid rgb(22, 70, 89);
    
    position: absolute;
    bottom: 28%;
    right: 47.2%;
    visibility: hidden;
}


/* Organizing buttons and message under the options class */
.options {
    display: grid;
    grid-template-areas:
    
    "reset lmessage wmessage "

    ;
}
#resetButton {
    grid-area: reset;
    cursor: pointer;
    border-style: outset;
    /* position: fixed; */
    /* right: 600px;
    bottom: 290px; */
    height: 70px;
    width: 130px;
    font-size: 25px;
   
}

#message-l {
    grid-area: lmessage;
    visibility: hidden;
    /* position: fixed; */
    /* right: 450px ;
    bottom: 290px; */
    color: rgb(241, 237, 237);
    background-color: rgb(223, 13, 51);
    height: 120px;
    width: 150px;
    font-size: 30px;
    text-align: center;
    

}
#message-w {
    grid-area: wmessage;
    visibility: hidden;
    /* position: fixed; */
    /* right: 450px ;
    bottom: 290px; */
    color: rgb(241, 237, 237);
    background-color: rgb(35, 189, 135);
    height: 120px;
    width: 150px;
    font-size: 30px;
    text-align: center;
    

}